header {
    height: 70px;
    background-color:#55BC04;
    color: #fff;
    display: flex;
    align-items: center;
 
  }
  
  .site-name {
    font-size: 20px;
  }
  
  .header-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-content-container p{
    font-size: 12px;
  }
  