@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.dflex {
  display: flex;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.mr20 {
  margin-right: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}

body{
  background-color: #C2C2C2;
}
.styles-card-product{
  font-size: 16px;
  color: black;
}
